<h4><%= t("new_image") %></h4>

<% if params[:template_id] == "none" then %>
  <%= form_for(:promotion_image, :url => { :controller => 'promotion_images', :action => 'create' }, :html => { :multipart => true }) do |form| %>
    <table class="basic-table">
      <%= render :partial => "form", :locals => { :f => form } %>
    </table>
    <p class="form-buttons">
      <%= button t("update") %>
      <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
    </p>
  <% end %>
<% else %>
  <%= render :partial => "form_for_template", :locals => { :template => @image_template} %>

  <div>
    <h1><% t('resulting_image') %></h1>
    <canvas id='image_from_template_canvas'></canvas>
  </div>
    
  <%= form_for(:image, :url => { :controller => 'promotion_images', :action => 'create' }, :html => { :multipart => true, :id => 'image_from_template_form' }) do |f| %>
    <%= hidden_field_tag :promotion_id, @promotion.id, :id => 'promotion_id_for_image_from_template' %>
  <% end %>
    
  <p class="form-buttons">
    <%= button t("update"), nil, nil, :id => 'image_from_template_submit_button', :onclick => 'saveCanvasToAttachment()' %>
    <%= t('or') %> <%= link_to t("cancel"), "#", :id => "cancel_link" %>
  </p>

<% end %>

<script type="text/javascript">    
  jQuery('#cancel_link').click(function (event) { 
    jQuery('#[id*=new_image_link]').show();
    jQuery('#images').html('');
  });  
 
</script>


 
 
