<div class='toolbar'>
  <ul class='actions'>
    <li>
      <%= button_link_to t("new_promotion"), new_object_url, :icon => 'add'  %>
    </li>
  </ul>
  <br class='clear' />
</div>

<h1><%= t("promotions") %></h1>

<table class="index">
  <thead>
    <tr>
      <th><%= t("name") %></th>
      <th><%= t("starts_at") %></th>
      <th><%= t("expires_at") %></th>
      <th width="150"><%= t("action") %></th>
    </tr>
  </thead>
  <tbody>
    <% for promotion in @promotions %>
      <tr id="<%= dom_id promotion %>">
        <td><%= promotion.name %></td>
        <td><%= promotion.starts_at.to_date.to_s(:short_date) if promotion.starts_at %></td>
        <td><%= promotion.expires_at.to_date.to_s(:short_date) if promotion.expires_at %></td>
        <td>
            <%= link_to_edit promotion %> &nbsp;
            <%= link_to_delete promotion unless promotion.deleted?%>
        </td>
      </tr>
    <% end %>
  </tbody>
</table>

<%= will_paginate(:previous_label => "&#171; #{t('previous')}", :next_label => "#{t('next')} &#187;") %>
