<%= f.hidden_field :template_type %>

<%= f.fields_for :background_image do |bg_image_form| %>
  <%= bg_image_form.label t(:background_image) %><br />
  <%= bg_image_form.file_field :attachment %>
<% end %>
<p/>
<div class="yui-gb">
  <% image_overlay_id = 1 %>
  <%= f.fields_for :overlays do |overlay_form| %>
    <% if !overlay_form.object.image_overlay.nil? %>
      <%= render :partial => "overlay_form", :locals => { :f => overlay_form, :overlay_type => :image_overlay, :overlay_id => image_overlay_id } %>
      <% image_overlay_id += 1 %>
    <% end %>
  <% end %>
  <p/ >
  <% text_overlay_id = 1 %>
  <%= f.fields_for :overlays do |overlay_form| %>
    <% if !overlay_form.object.text_overlay.nil? %>
      <%= render :partial => "overlay_form", :locals => { :f => overlay_form, :overlay_type => :text_overlay, :overlay_id => text_overlay_id } %>
      <% text_overlay_id += 1 %>
    <% end %>
  <% end %>
</div>

