<% template = f.object %> 

<%= f.hidden_field :template_type %>
<% bg_width = template_type == "summary" ? 393 : 423 %>
<% bg_height = template_type == "summary" ? 216 : 695 %>

<%= f.fields_for :background_image do |bg_image_form| %>
  <%= bg_image_form.label "#{t(:background_image)} - #{t(:dimension)}: #{bg_width} #{t(:width)}, #{bg_height} #{t(:height)}" %><br />
  <%= bg_image_form.file_field :attachment %><br />
  <% bg_image = bg_image_form.object %>
  <% if !bg_image.attachment_file_name.nil? %>
    <%= link_to(image_tag(bg_image.attachment.url(:small)), bg_image.attachment.url(:original)) %>
  <% end %>
<% end %>

<p/>

<div class="yui-gb">
  <% image_overlays = template.overlays.select {|overlay| !overlay.image_overlay.nil? } %>

  <%= f.fields_for :overlays, image_overlays[0] do |overlay_form| %>
    <%= render :partial => "image_overlay_form", :locals => { :f => overlay_form, :field_set_position => 1 } %>
  <% end %>
  <p/ >
  
  <% text_overlay_id = 1 %>
  <%= f.fields_for :overlays do |overlay_form| %>
    <% if !overlay_form.object.text_overlay.nil? %>
      <%= render :partial => "text_overlay_form", :locals => { :f => overlay_form, :field_set_position => text_overlay_id } %>
      <% text_overlay_id += 1 %>
    <% end %>
  <% end %>
</div>

