<% content_for :head do %>
  <%= stylesheet_link_tag "bemtevi/active-template" %>
  <!-- <%= javascript_include_tag "bemtevi/active-templates" %> -->
<% end %>

<div id="promo-panel" class="list-panel" >
	<div class="header" >
	  <p>Suas promoções ativas</p>
    <a href="/manager/promotions/new" id="new-promo-btn" title="criar promoção">criar promoção</a>
  </div>

	<div id="tpl-container">

    <% @promotions.each do |promotion| %>

    <div class="tpl-list-item inactive" id="tpl-list-item_<%= promotion.id %>">
      <%= image_tag promotion.promotion_images.last.attachment.url(:medium) if promotion.promotion_images.count > 0 %>
      <div><%= promotion.name %></div>
      <div>
        <a href="#" class="duplicate-template-btn" title="Duplicar">Duplicar</a>
        <a href="#" class="deactive-template-btn" title="Desativar">Desativar</a>
        <a href="#" class="active-template-btn" title="Ativar">Ativar</a>
        <a href="#" class="edit-template-btn" title="Editar">Editar</a>
      </div>
      <label>Val. <%= promotion.starts_at %> - <%= promotion.expires_at %></label>
    </div>

    <% end %>


    
    <div class="tpl-list-item inactive" id="tpl-list-item_0">
      <img src="/images/bemtevi/temp/templates/thumbs/f1t1-thumb.jpg">
      <div>
        <a href="#" class="duplicate-template-btn" title="Duplicar">Duplicar</a>
        <a href="#" class="deactive-template-btn" title="Desativar">Desativar</a>
        <a href="#" class="active-template-btn" title="Ativar">Ativar</a>
        <a href="#" class="edit-template-btn" title="Editar">Editar</a>
      </div>
      <label>Val. 10/10/2012 0</label>
    </div>
  </div>
    <div id="pagination" >
        <a href="#" class="first" title="Primeiro" ><<</a>
        <a href="#" class="prior" title="Anterior" ><</a>
        <a href="#" class="next" title="Próximo" >></a>
        <a href="#" class="last" title="Último" >>></a>
    </div>
</div>
