<% content_for :head do %>
<%= stylesheet_link_tag "bemtevi/create-template", "bemtevi/promo-info", "bemtevi/jquery-ui-timepicker-addon" %>
<%= javascript_include_tag "bemtevi/templates", "bemtevi/template-canvas", "bemtevi/create-promotion", "bemtevi/jquery-ui-timepicker-addon" %>
<script type="text/javascript">
    $(function() {
        $('#datepicker').datetimepicker({
            hourMin: 09,
            hour: 10,
            hourMax: 21,
            stepMinute: 30,
            inline : true,
            dateFormat: "yy-mm-dd"
        });
        $('#datepicker2').datetimepicker({
            hourMin: 09,
            hour: 10,
            hourMax: 21,
            stepMinute: 30,
            inline : true,
            dateFormat: "yy-mm-dd"
        });
    }); 
</script>
<% end %>

<div id="template_editing">
    <div id="change-tpl-btn" >
        <a href="javascript:void(0);" class="full" ><span>Completo</span></a>
        <a href="javascript:void(0);" class="small" ><span>Reduzido</span></a>
    </div>

    <div id="template-container-detail" class="template-container detail" >
        <img src="/images/bemtevi/backgrounds/template-big.png" class="is-hidden" ></img>
        <div id="regions-container-detail" class="regions-container" ></div>
    </div>

    <div id="template-container-summary" class="template-container summary is-hidden" >
        <img src="/images/bemtevi/backgrounds/template-small.png" class="is-hidden" ></img>
        <div id="regions-container-summary" class="regions-container" ></div>
    </div>

    <div id="template-list" ></div>

    <div id="nav-buttons-container" >
        <a id="btnVoltar" class="nav-btn" href="/manager/promotions" title="voltar" ><span class="left">voltar</span></a>
        <a id="btnProximo" class="nav-btn" href="javascript:showPromotionDetails()" title="próximo" ><span class="right">próximo</span></a>
    </div>

    <div id="canvas-container-detail" class="is-hidden"></div>

    <div id="canvas-container-summary" class="is-hidden"></div>
</div>

<div id="promotion-details" class="is-hidden">
    <div id="popup-container">
        <div id="popup">
            <%= form_for(@object, :url => collection_url, :html => { :multipart => true }) do |f| %>
                <div id="inner-popup">
                    <%= f.label "nome da promoção" %>
                    <%= f.text_field :name %>
                    <%= f.label "descrição da promoção" %>
                    <%= f.text_area :description %>
                    <div id="small">
                        <%= f.label "válida a partir de" %>
                        <%= f.text_field :starts_at, :id => "datepicker" %>
                        <%= f.label "válida até", :class => "second" %>
                        <%= f.text_field :expires_at, :id => "datepicker2" %>
                    </div>
                </div>
                <div id="nav-buttons-container" >
                    <a id="btnVoltar2" class="nav-btn" href="javascript:showTemplateEditing()" title="voltar" ><span class="left">voltar</span></a>
                    <a id="btnProximo2" class="nav-btn" href="javascript:createPromotionFromTemplate()" title="próximo" ><span class="right">publicar</span></a>
                </div>
            <% end %>
        </div>
    </div>
</div>