<div class="yui-gc">
  <div class="yui-u first">
    <%- locals = {:f => f} %>
    <%= hook :admin_product_form_left, locals do %>
      <%= f.field_container :name do %>
        <%= f.label :name, t("name") %> <span class="required">*</span><br />
        <%= f.text_field :name, :class => 'fullwidth title'  %>
        <%= f.error_message_on :name %>
      <% end %>

    <% end %>
  </div>
  <div class="yui-u">
    <%= hook :admin_product_form_right, locals do %>

      <p>
        <%= f.label :available_on, t("available_on") %><br />
        <%= f.error_message_on :available_on %>
        <%= f.spree_date_picker :available_on %>
      </p>

    <% end %>
  </div>
</div>
