<div id="overlay_fields" style="display: none;">
<% template.image_overlays.each do |overlay| %>
  <% case overlay.type %>
  <% when "ImageOverlay::Overlays::Text" %>
    <div>
      <%= label_tag t(overlay.text) %>
      <%= text_field_tag overlay.text, nil, :id => "template_#{template.id}_overlay_#{overlay.id}_#{overlay.text}", :onkeyup => "setOverlayText(this, 'template_#{template.id}', #{overlay.position_x}, #{overlay.position_y}, '#ffffff', '#{overlay.font_family}')" %>
    </div>
  <% when "ImageOverlay::Overlays::Image" %>
    <div>
      <%= label_tag t(overlay.text) %>
      <%= file_field_tag :image, :id => "template_#{template.id}_overlay_#{overlay.id}_#{overlay.text}", :onchange => "setOverlayImage(this, 'template_#{template.id}', #{overlay.position_x}, #{overlay.position_y}, 200, 110)" %>
    </div>
  <% end %>
<% end %>
</div>

<div>
  <%= image_tag template.attachment.url(:original).gsub("http://s3.amazonaws.com",""), :id => "template_#{template.id}", :style => "display: none;", :onload => "enableOverlaysAndDrawTemplate('template_#{template.id}')" %>
</div>
